ul.sportList {
	padding: 0 25px;
}

li.sport {
	list-style-type: none;
	font-family: Tahoma;
	font-size: 1.2em;
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
}

input.sportCheckbox + label.sportLabel {
	color: black;
}

input.sportCheckbox:checked + label.sportLabel {
	text-decoration: line-through;
	color: #656565;
}

input[placeholder] {
	font-size: 1.1em;
}

.container {
	width: 40%;
	height: 400px;
	position: relative;
	margin: 0 auto;
	border-radius: 5px;
}

.header {
	color: black;
	padding: 5px;
	text-align: center;
	font-family: Tahoma, sans-serif;
}

.inputContainer {
	padding: 15px;
}

.inputContainer .sportIdInput {
	padding: 10px;
	width: 100%;
	border-radius: 25px;
	box-sizing: border-box;
}

.listWrapper {
	position: absolute;
	top: 160px;
	right: 0;
	left: 0;
}

.detailssportBtn {
	float: right;
	color: blue;
	background: rgba(0,0,0,0);
	font-size: 20px;
	font-weight: bold;
	border: 1px solid white;
	border-radius: 50%;
  padding: 10px 5px;
  visibility: visible;
	opacity: 100;
	line-height: 0;
	margin-right: 5px;
	cursor: pointer;
}

li.sport div.details {
  font-family: Tahoma;
  font-size: 1.0em;
  display: none;
}

div.details div.event {
  border-bottom: 1px solid #656565;
}

div.outcomesContainer {
  float: right;
}

a.outcomesButton {
  cursor: pointer;
  color: blue;
  background: rgba(0,0,0,0);
  font-size: 20px;
  font-weight: bold;
  border: 1px solid white;
}

a.outcomesButton:link {
  color: red;
}

div.outcomes {
  display: none;
  position: absolute;
  right: 200px;
  background: white;
  padding: 36px;
  border: 1px solid black;
}

div.outcome {
  border-bottom: 1px solid black;
  border-bottom-style: ridge;
}

